body {
    background-color: #1e1e1e;
    background-image: url('/images/sfondo-leggero.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
}
